

body,
h1,
h2,
h3,
h4,
h5,
h6 {font-family: "Lato"}

#modal-menu {
    left: 0 !important; /* Set the modal position to the left */
}

 /* Add custom styles here */
#nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    order: -1; /* Move "Menu" to the left */
}

.logged-in {
    margin-left: auto; /* Push "Home" to the right */
}

.logged-in.logout {
    margin-left: 0px; /* Add spacing between "Home" and "Log out" if needed */
}

.w3-bar,
h1,
button {
     font-family: "Montserrat", sans-serif;
    }
.fa-anchor,
.fa-coffee {
    font-size: 200px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.stock-details {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.stock-details p {
    margin: 8px 0;
    font-size: 16px;
}